node_modules/
node_modules/
.next/
dist/
target/
out/
coverage/
build/
.DS_Store
*.log
.env
.idea/
.vscode/
*.iml
*.class
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
.eslintcache
.editorconfig
.parcel-cache/
.cache/
logs/

node_modules/
.next/
dist/
target/
out/
coverage/
build/
.DS_Store
*.log
.env
.idea/
.vscode/
*.iml
*.class
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
.eslintcache
.editorconfig
.parcel-cache/
.cache/
logs/

